* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: #5f32ca87;
  }
  
  img {
    width: 100%;
    height: 80%;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #5f1e7b5f;
    color: #fff;
  }
  
  .container {
    background-image: url("2.jpg");
    background-color: #ffffff;
    width: 80vw;
    max-width: 37.5em;
    padding: 1.8em 2.5em;
    position: absolute;
    transform: translate(-45%, -45%);
    top: 55%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
    overflow-y: auto;
    max-height: 60vh;
  }
  
  .page-heading {
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f4f4f4;
    letter-spacing: 2px;
    margin-top: 0.1em;
  }
  
  .page-heading2 {
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #461959;
    letter-spacing: 2px;
    margin-top: 0.5em;
  }
  
  .comment-input {
    display: flex;
    margin-top: 1.5em;
  }
  
  .comment-input input {
    flex: 1;
    padding: 0.5em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
  }
  
  .comment-input button {
    font-size: 1em;
    background-color: #3d64e6;
    color: #ffffff;
    padding: 0.8em;
    border: none;
    border-radius: 1.5em;
    margin-left: 0.5em;
  }
  
  .search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
  }
  
  .search-wrapper button {
    font-size: 1em;
    background-color: #3d64e6;
    color: #ffffff;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
  }
  
  .search-wrapper input {
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
  }
  
  #result {
    margin-top: 1.25em;
  }
  
  .container .flag-img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
  }
  .comment {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* ... other styles ... */
  }
  .container h2 {
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
  }
  
  .data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
  }
  
  .container h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
  }
  
  .container span {
    color: #5d6274;
  }
  
  .container h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
  }
  
  .comment {
    margin-top: 1em;
    background-color: #f2f2f2;
    padding: 1em;
    border-radius: 0.5em;
    color: #333;
  }
  